# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui/node_modules
ui/.pnp
ui/.pnp.js
*/package-lock.json

# testing
ui/coverage

# production
ui/build

# misc
*/.DS_Store
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

# IDE metadata
/.idea/
/.vscode/

# python
api/__pycache__/
*.py[cod]
api/.python-version
api/venv/

# Flask
api/instance/*
!instance/.gitignore
api/.webassets-cache

api/.pytest_cache/
api/.coverage
api/htmlcov/

api/dist/
api/build/
api/*.egg-info/